@import "_core/_grid.scss";
@import "_core/_variables.scss";

@import "_utilities/_buttons.scss";
@import "_utilities/_text.scss";
@import "_utilities/_width.scss";
@import "_utilities/form";
@import "_utilities/borders";
@import "_utilities/parallax";

@import "_components/_navigation.scss";
@import "_components/_header.scss";
@import "_components/_about.scss";
@import "_components/_teaser.scss";
@import "_components/_pagination.scss";
@import "_components/_footer.scss";


body {
  overflow-x: hidden;
}

.main {
  &-wrapper {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #fff;
      z-index: -1;
    }
  }
}

body {
position: relative;
}