<section id="about" class="about-wrapper grid-container grid-container__sides">
    <h2 class="about-headline headline headline__b f">
        <span class="block-m">
            {{ config.site.subline_one }}
            <span class="headline__underline headline__underline-p">
                {{ config.site.subline_two }}
            </span>
        </span>
    </h2>
    <p class="about-text text text__b fade-w">
        <span class="block-s">
                    {{ config.site.text }}
        </span>
    </p>
    <div class="about-btn">
        <a href="" class="btn btn__p text text__w text__upper text__bold">
            <span class="btn-text">Sag Hallo</span>
        </a>
    </div>
    <figure class="about-img">
        {% set image = config.site.aboutImg %}
        {{ page.find('/images').media[image].quality(80).html('ich bins', 'mein bild') }}
        <span class="about-img__bg"></span>
    </figure>
</section>