<section class="teaser-wrapper grid-container grid-container__sides {% if loop.first %}teaser-wrapper__first{% endif %}" >
    <figure class="teaser-img" data-tilt>
        <a href="">
    {{ block ("img", "item.html.twig") }}
        </a>
    </figure>
    <h2 class="teaser-headline headline align-right">
        {{ block("title", "item.html.twig") }}
    </h2>
    <h3 class="teaser-subline">
       <span class="subline headline__underline headline__underline-small headline__underline-p">
          {{ block("subline", "item.html.twig") }}
       </span>
    </h3>
    <p class="teaser-text text">
        {{ block("text", "item.html.twig") }}
    </p>
    <a href="" class="teaser-btn btn btn__ghost-p text text__upper text__bold width__100">
        <span class="btn-text">mehr infos</span>
    </a>
</section>


