{% set parent = page.parent() %}

<h2 style="background:red;">
    {% block title %}  {{ page.header.title }} {% endblock %}

</h2>
{% block img %}
    {% set image = page.header.image %}
    {{page.media[image].quality(80).html('referenzbild', '', 'width__100')}}
{% endblock %}
<h3 style="background:blue">
    {% block subline %}  {{ page.header.subline }} {% endblock %}
</h3>

<div style="background:green;">
    {% block text %}  {{ page.header.text }} {% endblock %}
</div>




