.btn {
  display: flex;
  align-items: center;
  max-height: 100px;
  padding: $p_40;
  &__p {
    background: $secondaryColor;
  }
  &__b {
    background: $primaryColor;
  }
  &__app {
    appearance: none;
    border: 0;
  }
  &__ghost {
    &-p {
      border:2px solid $secondaryColor;
      color: $secondaryColor;
    }
    &-w {
      border:2px solid $tertiaryColor;
      color: $tertiaryColor;
    }
  }
}