.form {
  &-wrapper {
    position: relative;
    grid-column: 4 / 9;
    grid-row: 1 / 5;
    min-height: 768px;
    padding: 160px $p_80 $p_80 $p_80;
    margin-top: 160px;
    z-index: 4;
  }
  &__app {
    appearance: none;
    border: 0;
    background: transparent;
  }
  &-field {
    padding-bottom: $p-40 - $p-10;
  }
  &-input {
    position: relative;
    height: 55px;
    padding-top: $p_20;
    z-index: 2;
    &-wrapper {
      position: relative;
      height: 75px;
    }
    &:focus {
      font-weight: $weight;
      border-color: #fff;
      outline: none;
      ~ .form {
        &-label {
          font-weight: $weight-n;
          top: 0;
          color: #fff;
        }
      }
    }
    &:not(:placeholder-shown) {
      font-weight: $weight;
      border-color: #fff;
      ~ .form {
        &-label {
          font-weight: $weight-n;
          top: 0;
          color: #fff;
        }
      }
    }
  }
  &-label {
    position: absolute;
    top: $p_20;
    left: 0;
  }
  &-data {
    position: relative;
    &[data-grav-field="textarea"] {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .form-label {
        top: 0px;
      }
    }
  }
  &-textarea {
    &-input {
      resize: none;
      outline: none;
      height: 150px;
      padding-top: $p-20;
      &:focus {
        font-weight: $weight;
        border-color: #fff;
        ~ .form {
          &-label {
            font-weight: $weight-n;
            top: 0;
            color: #fff;
          }
        }
      }
      &:not(:placeholder-shown) {
        font-weight: $weight;
        border-color: #fff;
        ~ .form {
          &-label {
            font-weight: $weight-n;
            top: 0;
            color: #fff;
          }
        }
      }
    }
  }
  &-btn {
    position: absolute;
    bottom: 80px;
    right: -80px;
    max-width: 390px;
  }
  &-bg {
    display: block;
    background: $secondaryColor;
    grid-column: 4 / 9;
    grid-row: 1 / 5;
    margin-top: 160px;
    z-index: 2;
  }
}
