.form {
  &-wrapper {
    position: relative;
    grid-column: 4 / 9;
    grid-row: 1 / 5;
    min-height: 768px;
    padding: 160px $p_80 $p_80 $p_80;
    margin-top: 160px;
    z-index: 4;
  }
  &__app {
    appearance: none;
    border: 0;
    background: transparent;
  }
  &-field {
    padding-bottom: $p-40;
  }
  &-border {
    position: absolute;
    width: 0;
    bottom: $p_20;
    border-bottom: 2px solid $primaryColorLighter;
    z-index: 3;
    @include transition-s
    &::before {
      content: '';
      position: absolute;
      width: 0;
      border-bottom: 2px solid #fff;
      @include transition-l;
      z-index: 2;
    }
  }
  &-input {
    position: relative;
    height: 55px;
    padding-top: $p_20;
    z-index: 2;
    &-wrapper {
      position: relative;
      height: 75px;
    }
    &:hover {
      ~ .form-border {
        width: 100%;
        &::before {
          width: 100%;
        }
      }
    }
    &:focus {
      font-weight: $weight;
      outline: none;
      @include transition-s;
      ~ .form {
        &-label {
          font-weight: $weight-n;
          top: 0;
          color: #fff;
        }
        &-border {
          width: 100%;
          &::before {
            width: 100%;
          }
        }
      }
    }
    &:not(:placeholder-shown) {
      font-weight: $weight;
      border-color: #fff;
      ~ .form {
        &-label {
          font-weight: $weight-n;
          top: 0;
          color: #fff;
        }
      }
    }
  }
  &-label {
    position: absolute;
    top: $p_20;
    left: 0;
    @include transition-s;
  }
  &-data {
    position: relative;
    &[data-grav-field="textarea"] {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .form {
        &-label {
          top: 0;
        }
        &-border {
          bottom: 0;
        }
      }
    }
  }
  &-textarea {
    &-input {
      resize: none;
      outline: none;
      height: 150px;
      padding-top: $p-20 + $p_10;
      &:hover {
        ~ .form-border {
          width: 100%;
          &::before {
            width: 100%;
          }
        }
      }
      &:focus {
        font-weight: $weight;
        ~ .form {
          &-label {
            font-weight: $weight-n;
            top: 0;
            color: #fff;
          }
          &-border {
            width: 100%;
            &::before {
              width: 100%;
            }
          }
        }
      }
      &:not(:placeholder-shown) {
        font-weight: $weight;
        border-color: #fff;
        ~ .form {
          &-label {
            font-weight: $weight-n;
            top: 0;
            color: #fff;
          }
        }
      }
    }
  }
  &-btn {
    position: absolute;
    bottom: 80px;
    right: -80px;
    max-width: 390px;
  }
  &-bg {
    display: block;
    background: $secondaryColor;
    grid-column: 4 / 9;
    grid-row: 1 / 5;
    margin-top: 160px;
    z-index: 2;
  }
}
