$size: 2em !default;
$line: 1.3em !default;
$spacing: .25em !default;
$font: 'Lato', sans-serif !default;
$weight: 900 !default;
$weight-n: normal !default;

:root {
  --size: 2em;
  --line: 1.3em;
  --spacing: .25em;
  @include mq(s) {
    --size: 5em;
    --line: 1.2em;
    --spacing: .35em;
  }
  @include mq(m) {
    --size: 4em;
  }
  @include mq(l) {
    --size: 5em;
  }
}

.headline {
  font-family: $font;
  font-size: var(--size);
  font-weight: $weight;
  line-height: var(--line);
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  &__w {
    color: $tertiaryColor;
  }
  &__b {
    color: $primaryColor;
  }
  &__p {
    color: $secondaryColor;
  }
  &__underline {
    position: relative;
    &::after {
      content: '';
      height: 20px;
      width: 100%;
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }
    &-small {
      &::after {
        height: 10px;
      }
    }
    &-w {
      &::after {
        background: $tertiaryColor;
      }
    }
    &-b {
      &::after {
        background: $primaryColor;
      }
    }
    &-p {
      &::after {
        background: $secondaryColor;
      }
    }
  }
}

.subline {
  font-family: $font;
  font-size: calc(var(--size) - 2.75em);
  font-weight: $weight;
  line-height: var(--line);
  letter-spacing: calc(var(--spacing) + .35em);
  text-transform: uppercase;
  &__w {
    color: $tertiaryColor
  }
  &__b {
    color: $primaryColor;
  }
}

.text {
  @include mq(l) {
    font-family: $font;
    font-size: calc(var(--size) - 4em);
    line-height: calc(var(--line) + .3em);
    letter-spacing: calc(var(--spacing) - 0.1em);
  }
  &__w {
    color: $tertiaryColor;
  }
  &__b {
    color: $primaryColor;
  }
  &__upper {
    text-transform: uppercase;
  }
  &__bold {
    font-weight: $weight;
  }
}

.link {
  position: relative;
  transition: $transition;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 0%;
    height: 5px;
    transition: $transition;
  }
  &__p {
    transition: $transition;
    &:hover {
      transition: $transition;
      &::after {
        transition: $transition;
        width: 100%;
        height: 5px;
        background-color: $secondaryColor;
      }
    }
  }
}

.align {
  &__center {
    text-align: center;
  }
  &__left {
    text-align: left;
  }
  &__right {
    text-align: right;
  }
}