
.width {
  &__100 {
    width: 100%;
  }
  &__75 {
    width: 75%;
  }
  &__50 {
    width: 50%;
  }
  &__25 {
    width: 25%;
  }
}

.height {
  &__100 {
    height: 100%;
  }
  &__75 {
    height: 75%;
  }
  &__50 {
    height: 50%;
  }
  &__25 {
    height: 25%;
  }
}