.nav {
  &-wrapper {
    position: fixed;
    height: calc(100vh - 80px);
    padding: $p_20;
    z-index: 998;
    mix-blend-mode: difference;
    @include mq(m) {
      height: calc(100vh - 210px);
      padding: $p_20 0px 0px $p_40;
    }
  }
  &-list {
    position: relative;
  }
  &-link {
    position: relative;
    display: block;
  }
  &-logo {
    display: block;
    position: relative;
    height: 40px;
    width: 70px;
    background-repeat: no-repeat;
    @include mq(m) {
      height: 70px;
    }
    &__border {
      position: fixed;
      width: 70px;
      height: 70px;
      border: 3px solid $secondaryColor;
      margin: $p_20 0px 0px $p_40;
      mix-blend-mode: normal;
      z-index: 999;
    }
  }
}

.link {
  position: relative;
  transition: $transition;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 0%;
    height: 4px;
    margin-top: 1px;
    transform: translateY(-50%);
    transition: $transition;
  }
  &__p {
    transition: $transition;
    &:hover {
      transition: $transition;
      &::after {
        transition: $transition;
        width: 100%;
        background-color: $secondaryColor;
      }
    }
  }
}
