.teaser {
  &-wrapper {
    position: relative;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 200px;
    max-height: $maxWdh-s;
    transform-style: preserve-3d;
    z-index: 3;
  }
  &-text {
    position: relative;
    grid-column: 10 / 13;
    grid-row: 4;
  }
  &-headline {
    grid-column: 5 / 14;
    grid-row: 2;
    transform: translateZ(40px);
    overflow: hidden;
    z-index: 2;
  }
  &-subline {
    grid-column: 8 / 14;
    grid-row: 3;
    transform: translateZ(25px);
    z-index: 2;
    &::after {
      transform: translateZ(5px);
    }
  }
  &-img {
    grid-column: 3 / 9;
    grid-row: 1 / 6;
    overflow: hidden;
    &[data-tilt] {
      background: red;
    }
    img {
      height: 100%;
      object-fit: cover;
      min-height: 768px;
    }
  }
  &-link {
    position: relative;
    display: block;
    &::after {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 0;
      background-color: $primaryColor;
      z-index: -1;
    }
  }
  &-btn {
    grid-column: 10 / 13;
    grid-row: 5;
    transform: translateZ(80px);
    overflow: hidden;
  }
}

/*/////////////////
     first item
//////////////// */
.teaser-wrapper__first {
  .teaser {
    &-subline {
      span {
        &::after {
          background-color: $tertiaryColor;
        }
      }
    }
    &-btn {
      .btn {
        border:2px solid $tertiaryColor;
        color: $tertiaryColor;
        &:hover {
          @include transition-s;
          border-color: $secondaryColorDarker;
        }
      }
    }
  }
}

/*////////////////
       odd
/////////////// */

.teaser-wrapper:nth-of-type(odd) {
  .teaser {
    &-img {
      grid-column: 8 / 14;
    }
    &-headline {
      grid-column: 3 / 12;
      text-align: left;
    }
    &-subline {
      grid-column: 3 / 9;
      text-align: right;
    }
    &-text {
      grid-column: 4 / 7;
    }
    &-btn {
      grid-column: 4 / 7;
    }
  }
}