/*///////////////////
     Teaser
///////////////// */

.work-teaser {
  &-wrapper {
    grid-template-rows: repeat(4, 25%);
    padding-top: 200px;
  }
  &-text {
    position: relative;
  }
  &-headline {
    grid-column: 5 / 14;
    grid-row: 1;
  }
  &-subline {
    grid-column: 6 / 14;
    grid-row: 2;
  }
}